.Header{
    width: 100vw;
    height: 30vh;
    background-color: #0D0D0D;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CreateNewTask{
    width: 700px;
    height: 45px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    position: absolute;
    transform: translateY(200%);
}

.InputNewTask input{
    width: 580px;
    height: 100%;
    padding: 10px;
    background-color: #262626;
    color: #808080;
    border-radius: 8px;
    border: 0;
    outline: none;
    font-size: 1rem;
    transition: 0.2s all ease;
}

.InputNewTask input:focus{
    border: 1px solid #9747FF;
    color: #F2F2F2;
}

.ButtonNewTask button{
    width: 110px;
    height: 100%;
    background-color: #1E6F9F;
    border: 0;
    border-radius: 8px;
    outline: none;
    transition: 0.2s all ease;
    color: #F2F2F2;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonNewTask button svg{
    margin-left: 5px;
}

.ButtonNewTask button:hover{
    background-color: #4396ca;
    cursor: pointer;
}